/ip_frontend/.DS_Store
/ip_frontend/node_modules
/ip_frontend/dist
/ip_frontend/.env.local
/ip_frontend/.env.*.local
/ip_frontend/npm-debug.log*
/ip_frontend/yarn-debug.log*
/ip_frontend/yarn-error.log*
/ip_frontend/pnpm-debug.log*
/ip_frontend/.idea
/ip_frontend/.vscode
/ip_frontend/*.suo
/ip_frontend/*.ntvs*
/ip_frontend/*.njsproj
/ip_frontend/*.sln
/ip_frontend/*.sw?

/ip_backend/node_modules
/ip_backend/public/hot
/ip_backend/public/storage
/ip_backend/storage/*.key
/ip_backend/vendor
/ip_backend/.env
/ip_backend/.env.backup
/ip_backend/.phpunit.result.cache
/ip_backend/docker-compose.override.yml
/ip_backend/Homestead.json
/ip_backend/Homestead.yaml
/ip_backend/npm-debug.log
/ip_backend/yarn-error.log
/ip_backend/.idea
/ip_backend/.vscode