body {
    background:#e9ecef;
}
#sign_body{
    height: 100vh;
    width: 100%;
    background: #212529;
    position: absolute;
    top: 0;
    left: 0;
}
#sign_cont{
    margin-top:10%;
}
#sign_cont .card-header{
    background-color: transparent;
}
nav .navbar-collapse{
    border-left: 1px solid #525151;
    padding-left: 20px;
}
nav .navbar-collapse.collapse.show .nav-item{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: transparent;
}
.nav-item{
    margin: 0px 2px;
}
.nav-item.active a, .nav-item a:hover{
    color: #fff;
    border-bottom: 4px solid #42b983;
}